.about-page {
    height: 100%;
   
    align-items: center;
   
}

.text_about {
    font-size: 16px;
    letter-spacing: .6px;
}

.about__loading-spinner-container {
    min-height: calc(100vh - 120px);
}