
.products-list {
    width: 1050px;
    gap: 10px;

    margin: 0 auto;
}

.products-list__heaeder {
   text-align: center;
   
   margin-top: 10px;
   margin-bottom: 20px;
}

@media (max-width: 1200px) {
    .proucts-list { 
        width: 840px;
    }
}