.product-card {
    display: inline-flex;
    margin-bottom: 20px; 
}



.big-card {
    width: calc(25% - 9px);
    margin-left: 12px;
}

.big-card:nth-of-type(4n+1) {
    margin-left: 0;
}

.big-card__img-container {
    height: 335px;
}

.small-card {
    width: calc(20% - 10px);
    margin-left: 12px;
}

.small-card:nth-of-type(5n+1) {
    margin-left: 0;
}

.small-card__img-container {
    height: 200px;
}

.slider-card {
    box-sizing: content-box;
    width: 180px;
    padding: 10px;
    margin: 0;
}


.slider-card__img-container {
    height: 200px;
}

.product-card__link {
    width: 100%;
}

.product-card__image-container {
    position: relative;
    padding-bottom: 10px;
}

.product-card__discount {
    position: absolute;
    top: 10%;
    background-color: whitesmoke;
    color: red;
    font-size: 12px;
    line-height: 16px;
}

.product-card__price{
    font-size: 14px;
    font-weight: 600;
}

.product-card__title {
    padding-bottom: 10px;
}

.price_old {
    text-decoration: line-through;
    font-weight: 200;
}

.red-text {
    color: red
}