
.product-card {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    margin-bottom: 20px;
}

.product-card__image-container {
    width: 100%;
    height: 220px;
    position: relative;

    cursor: pointer;
}

.product-card__discount {
    position: absolute;
    top: 10%;
    left: 0;
    background-color: whitesmoke;
    color: red;
    font-size: 12px;
    line-height: 16px;
}
.product-card__price{
    font-size: 14px;
    font-weight: 600;
}

.price_old {
    text-decoration: line-through;
    font-weight: 200;
}

.red-text {
    color: red
}