.big-card {
    width: calc(25% - 12px);
    margin-left: 12px;
}

.big-card__img-container {
    height: 335px;
}

.small-card {
    width: calc(20% - 12px);
    margin-left: 12px;
}

.small-card__img-container {
    height: 200px;
}

.product-card {
    display: inline-block;

   
    margin-bottom: 20px; 
}

.product-card__image-container {
    width: 100%;
    position: relative;

    cursor: pointer;

    padding-bottom: 10px;
}

.product-card__discount {
    position: absolute;
    top: 10%;
    left: 0;
    background-color: whitesmoke;
    color: red;
    font-size: 12px;
    line-height: 16px;
}
.product-card__price{
    font-size: 14px;
    font-weight: 600;
}

.product-card__title {
    padding-bottom: 10px;
}

.price_old {
    text-decoration: line-through;
    font-weight: 200;
}

.red-text {
    color: red
}