.checkout__promo-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkout__promo-arrow {
    position: absolute;
    top: 24px;
    right: 30px;
    cursor: pointer;
}

.arrow_close {
    transform: rotate(-90deg);
}

.arrow_open {
    transform: rotate(90deg);
}

@media (max-width: 555px) {
    .checkout__promo-arrow {
        top: 5px;
        right: 8px;
    }
}
