.filter {
  width: 100%;

  background-color: rgb(238, 238, 238);
}


.filter__container {
  width: 100%;
  position: relative;
 
  height: fit-content;

  display: flex;
  flex-direction: column;
  align-items: center;
  
  padding: 20px 0 10px 0;
}

.filter__reset-btn {
    position: absolute;
    top: 10px;
    right: 0px;

    cursor: pointer;
}

.filter__dropdown-container {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7%;

    padding: 10px;
}

.filter__dropdown-container_mobile {
  display: none;
}
  
  .input-list__item  {
    display: flex;
    align-items: center;
    justify-content: left;
  }

  .filter__inputs-list {
    padding: 10px;
  
    background-color: rgb(238, 238, 238);
  }

  .filter__inputs-list_dropdown {
    height: 210px;
    overflow-y: scroll;
  }

  .filter-list__item {
    height: 42px;
    
    font-size: 16px;
    font-weight: 400;

    border-radius: 5px;
    background-color: white;

    margin-bottom: 10px;
  }

  
  .filter-list__label {
    width: 100%;
    height: 100%;
    display: flex;
    cursor: pointer;
    align-items: center;

    padding-left: 10px;
}

  .filter-list__item_checked {
    background-color:  rgb(7, 112, 207);
    font-weight: 700;
    color: white;
  }


@media (max-width: 905px) {
  .filter__dropdown-container{
    width: 100%;
  }

  .filter__reset-btn {
    top: 5px;
  }

  .filter__dropdown-container_laptop {
    display: none;
  }

  .filter__dropdown-container_mobile{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 0%;
  }
}

@media (max-width: 705px) {
  .filter {
    height:  80px;
  }
}