.btn {
    min-width: 83px;
    height: 25px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    padding: 1em;
}

.btn:hover {
    opacity: 0.8;
}

.filter-btn {
    background-color: black;

    border: 2px solid black;
    padding: 1em;
}



.bag-btn {
    width: 200px;
    background-color: #018849;

    border: none;

    text-transform: uppercase;
}

.search-bar__btn {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(0, -50%);
}